node_modules
.DS_Store
venv
uploads
backend/__pycache__/models.cpython-39.pyc
backend/Algorithm/__pycache__/Eylighner_Algorithm.cpython-39.pyc
*.pyc

eyl/bin/activate
*.csh
*.fish
*.ps1
eyl/bin/f2py
*.9
eyl/bin/f2py3
eyl/bin/flask
eyl/bin/fonttools
eyl/bin/iptest
eyl/bin/iptest3
eyl/bin/ipython
eyl/bin/ipython3
eyl/bin/pip
eyl/bin/pip3
eyl/bin/pip3.10
eyl/bin/pyftmerge
eyl/bin/pyftsubset
eyl/bin/pygmentize
eyl/bin/python
eyl/bin/python3
eyl/bin/ttx
eyl/pyvenv.cfg
eyl/share/man/man1/ipython.1.gz
eyl/share/man/man1/ttx.1
